@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: rgba(164, 167, 171, 0.721);
}



/* mainpage */
.main__page {
  position: relative;
  width: 100dvw;
  height: 160dvh;
  overflow: hidden;
  background: radial-gradient(rgba(225, 178, 9, 0.29), rgba(55, 55, 55, 0.375));
}

.section__page {
 max-width: fit-content;
  overflow: hidden;
  background-color: #242121;
  color: white;
  font-weight: bold;
  padding: 5%;
  display: grid;
  gap: 2em;
  align-items: center;
  margin-bottom: 5%;
}

.sectionpage__div1 {
  background-color: #ffffff0c;
    border-radius: 10px;
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 4em;
    flex-wrap: wrap;
    list-style: none;
}

.mylisting {
  padding: 2%;
  background-color: #ffffff07;
  border-radius: 10px;
  line-height: 1.2;
  flex-basis: 40%;
  /* border-radius: 2px solid rgb(255, 255, 255); */
  /* display: grid; */
  /* gap: 1.5em; */
  /* letter-spacing: 2; */
}

.hero__title {
  color: rgb(240, 248, 255);
  font-size: 80px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.424);
  /* margin: 5%; */
  margin-left: -3px;
  padding-bottom: 5%;
  writing-mode: vertical-lr;
}

.main {
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-content: center;
  background-image: url("https://icons8.com/icon/73vBxoCBN3rM/account");
}

.input__field {
  display: grid;
  margin-left: 5%;
  margin-bottom: 5%;
  justify-items: center;
  grid-template-columns: 1fr;
}

.input__data {
  display: grid;
  align-items: center;
  padding: 0;
  grid-template-columns: 200px 200px;
  grid-template-rows: 4em;
}

@media only screen and (max-width: 400px) {
  .input__data {
    display: grid;
    align-items: center;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 4em;
  }
}
/* Designs*/

.hero_rectangle_1,
.hero_rectangle_2 {
  position: absolute;
  left: 4%;
  z-index: -1;
  background-color: #76885b;
  height: 800px;
  width: 400px;
  box-shadow: -15px 15px 10px rgba(0, 0, 0, 0.31);
}

.hero_rectangle_2 {
  top: 28%;
  left: 30%;
  z-index: -2;
  background-color: #627254bf;
  transform: rotate(90deg);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.21);
  filter: opacity(0.8);
}

.hero__image {
  position: absolute;
  height: 1000px;
  width: 1000px;
  z-index: 1;
  left: 30%;
  top: 10%;
  background: transparent;
  filter: drop-shadow(-20px 50px 20px rgba(17, 17, 16, 0.597));
}

@media only screen and (max-width: 600px) {
  .hero__image {
    position: absolute;
    height: 400px;
    width: 420px;
    z-index: 1;
    left: 4%;
    top: 10%;
    background: transparent;
    filter: drop-shadow(-20px 50px 20px rgba(17, 17, 16, 0.597));
  }
}

.hero__image:hover {
  animation: shake 0.2s ease-in-out forwards;
  cursor: pointer;
}

.hero_slogan {
  position: absolute;
  top: 66%;
  left: 59%;
  width: 80%;
  height: 30px;
  background-color: rgba(126, 126, 126, 0);
  transform: rotate(90deg);
}

.hero_slogan1 {
  position: absolute;
  top: 5%;
  left: -22.5%;
  width: 1800px;
  font-size: 8em;
  color: rgb(240, 248, 255);
  text-shadow: 0px 150px 0px black, 0px 300px 0px rgb(240, 248, 255),
    0px 300px 0px rgb(240, 248, 255);
  /* animation: shake 20s ease-in-out infinite; */
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
