form {
  background-color: #ffffff0c;
  padding: 4em;
  font-size: 24px;
  display: grid;
  gap: 2rem;
}

.output__box {
  background-color: #ffffff0c;
  padding: em;
  display: grid;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.main {
    background-color: #242121;
    color: rgb(255, 255, 255);
    display: grid;
    padding-left: 30%;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    // gap: 2em;
}

label {
  font-size: larger;
  margin: 2em;
}

input {
  border-radius: 10px;
  height: 20px;
  width: 8em;
  padding: 1em;
}

button {
  width: 40%;
  height: 44px;
  border-radius: 10px;
}

button:hover {
  background-color: #ffffffc4;
  cursor: pointer;
}