.header {
    color: white;
    width: 100dvw;
    display: grid;
    justify-items: center;

  
    .header-container {
      background-color: rgba(34, 34, 34, 0.613);
      z-index: 111;
      position: fixed;
      display: grid;
      grid-template-columns:  3fr 1fr;
      place-content: center;
      align-items: center;
      // height: 44px;
      // width: 450px;
      padding: 2%;
      margin-top: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      border-radius: 20px;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.600);
      text-shadow: 1px 1px 1px black;
      transition: 200ms ease-in-out;

       
      .logo {
        font-size: 100%;
        font-weight: bold;
        margin: 0;
        cursor: pointer;
        transition: 200ms ease-in-out;
      }

      .logo:hover {
        transform: scale(1.0001);
        text-shadow: 2px 2px 2px black;
      }
  
      .nav-menu ul {
        display: grid;
        grid-template-columns: repeat(8, 70px);
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          display: inline-block;
          margin-left: 20px;
          font-size: 16px;
          font-weight: bold;
  
          a {
            color: #fff;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  

  .header-container:hover {
    width: 40%;
    cursor: pointer;
    margin-top: 10px;
    display: grid;
    grid-template-columns:  4fr 1fr;
    height: 55px;
  }