.header {
  color: white;

  .header-container {
    background-color: #242121;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);

    .imageDiv{
      max-width: 30%;
    }

    .logo {
      cursor: pointer;
      max-width: 100%;
    }

    .logo:hover {
      border-bottom: 1px solid #fff;
    }

    .nav-menu {
      margin-left: 25%;
    }

    .nav-menu ul {
      display: grid;
      grid-template-columns: repeat(5, 35%);
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 20%;

      li {
        display: inline-block;
        margin-left: 20px;
        font-size: 16px;
        font-weight: bold;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// .header-container:hover {
//   width: 40%;
//   cursor: pointer;
//   margin-top: 10px;
//   display: grid;
//   grid-template-columns:  4fr 1fr;
//   height: 55px;
// }
